@import 'styles/colors';

.card {
    background: $white;
    margin: 1rem 0;
    width: 100%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;

    h3 {
        margin: 0 0 1rem 0;
        color: $black;

        a {
            padding-right: 1rem;
            transition: color ease 1s;

            &.debate {
                color: $main-green;
            }
            &.music {
                color: $secondary-lilac;
            }
            &.exhibition {
                color: $secondary-dark-green;
            }
            &.workshop {
                color: $main-light-green;
            }
            &.documentary {
                color: $main-blue;
            }
            &.activity {
                color: $secondary-dark-lilac;
            }
            &.talk {
                color: $secondary-red;
            }
            &.fair {
                color: $secondary-dark-red;
            }

            &:hover {
                &.debate {
                    color: darken($main-green, 10%);
                }
                &.music {
                    color: darken($secondary-lilac, 10%);
                }
                &.exhibition {
                    color: darken($secondary-dark-green, 10%);
                }
                &.workshop {
                    color: darken($main-light-green, 10%);
                }
                &.documentary {
                    color: darken($main-blue, 10%);
                }
                &.activity {
                    color: darken($secondary-dark-lilac, 10%);
                }
                &.talk {
                    color: darken($secondary-red, 10%);
                }
                &.talk {
                    color: darken($secondary-dark-red, 10%);
                }
            }
        }
    }

    p {
        line-height: 1.5;
    }

    .fadeIn {
        animation-name: fadeIn;
        animation-duration: 1.3s;
        animation-timing-function: cubic-bezier(0, 0, 0.4, 1);
        animation-fill-mode: forwards;

        img {
            margin: 0 auto;
            display: block;
        }
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .pill {
        background: $black;
        color: $white;
        padding: 0.25rem;
        text-transform: uppercase;
        font-size: 0.65rem;

        &.pillFamily {
            background: lighten($main-dark-blue, 20%);
        }
    }
    .small {
        font-size: 0.85rem;
    }
}

.tag {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    h3 {
        margin: .5rem;

        a {
            color: $white;
            font-size: .65rem;
            transition: background ease 1s;
            padding: .5rem;

            &.debate {
                background: $main-green;
            }
            &.music {
                background: $secondary-lilac;
            }
            &.exhibition {
                background: $secondary-dark-green;
            }
            &.workshop {
                background: $main-light-green;
            }
            &.documentary {
                background: $main-blue;
            }
            &.activity {
                background: $secondary-dark-lilac;
            }
            &.talk {
                background: $secondary-red;
            }
            &.fair {
                background: $secondary-dark-red;
            }

            &:hover {
                &.debate {
                    background: darken($main-green, 10%);
                }
                &.music {
                    background: darken($secondary-lilac, 10%);
                }
                &.exhibition {
                    background: darken($secondary-dark-green, 10%);
                }
                &.workshop {
                    background: darken($main-light-green, 10%);
                }
                &.documentary {
                    background: darken($main-blue, 10%);
                }
                &.activity {
                    background: darken($secondary-dark-lilac, 10%);
                }
                &.talk {
                    background: darken($secondary-red, 10%);
                }
                &.fair {
                    background: darken($secondary-dark-red, 10%);
                }
            }
        }
    }
}
