@import 'styles/colors';

.MDFileContentComponent {
    background: transparentize($white, 0.25);
    margin: 1rem 0;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border-radius: 10px;
    transition: color 0.15s ease;
    display: inline-block;

    a {
        text-decoration: underline;
    }

    h2 {
        color: $secondary-red;
    }
}