@import 'styles/colors';

.card {
    background: transparentize($white, 0.5);
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid $secondary-red;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;

    h3 {
        margin: 0 0 1rem 0;
        color: $secondary-lilac;

        a {
            transition: color ease 1s;
            &:hover {
                color:$black;
            }
        }
    }

    p {
        margin: 0;
        line-height: 1.5;
    }
}
