$black: rgb(25, 25, 25);
$white: rgb(255, 255, 255);
$main-green: rgb(145, 200, 36);
$main-light-green: rgb(226, 222, 0);
$secondary-dark-green: rgb(120, 188, 104);
$main-dark-blue: rgb(6, 54, 67);
$main-blue: rgb(111, 194, 176);
$secondary-red: rgb(237, 105, 59);
$secondary-lilac: rgb(177, 124, 131);
$secondary-dark-lilac: rgb(110, 105, 158);